node_modules
dist
tsc
storybook-static
src/logic/*
!src/logic/.gitkeep
src/view/atom/block/*
!src/view/atom/block/.gitkeep
src/view/molecule/mino/*
!src/view/molecule/mino/.gitkeep

src/view/organism/game/*
!src/view/organism/game/.gitkeep

src/view/organism/gameover/*
!src/view/organism/gameover/.gitkeep

src/view/organism/score/*
!src/view/organism/score/.gitkeep

src/view/organism/title/*
!src/view/organism/title/.gitkeep

src/view/template/frame/*
!src/view/template/frame/.gitkeep