.div__block1 {
    width        : 10px;
    height       : 10px;
    position     : absolute;
    border-width : 10px;
    border-style : solid;
    border-radius: 2px;
    box-shadow   : 1px 1px 1px 1px rgba(50, 50, 50, 0.4);
}
.color0 {
    background-color: rgb(0, 0, 0); 
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0); 
}
.color1 {
    background-color: rgb(240, 90, 90); 
    border-color: rgb(190, 40, 40) rgb(210, 60, 60) rgb(250, 100, 100) rgb(230, 80, 80);
}
.color2 {
    background-color: rgb(245, 205, 0); 
    border-color: rgb(195, 155, 0) rgb(215, 175, 0) rgb(255, 215, 0) rgb(235, 195, 0);
}
.color3 {
    background-color: rgb(113, 94, 228); 
    border-color: rgb(63, 44, 178) rgb(83, 64, 198) rgb(123, 104, 238) rgb(103, 84, 218);
}
.color4 {
    background-color: rgb(0, 181, 245); 
    border-color: rgb(0, 131, 195) rgb(0, 151, 215) rgb(0, 191, 255) rgb(0, 171, 235);
}
.color5 {
    background-color: rgb(163, 245, 37); 
    border-color: rgb(113, 195, 0) rgb(133, 215, 7) rgb(173, 255, 47) rgb(153, 235, 27);
}
.color6 {
    background-color: rgb(245, 130, 40); 
    border-color: rgb(195, 80, 0) rgb(215, 100, 10) rgb(255, 140, 50) rgb(235, 120, 30);
}
.color7 {
    background-color: rgb(240, 230, 210); 
    border-color: rgb(190, 180, 160) rgb(210, 200, 180) rgb(250, 240, 220) rgb(230, 220, 200);
}
.color8 {
    background-color: rgb(245, 190, 200); 
    border-color: rgb(195, 140, 150) rgb(215, 160, 170) rgb(255, 200, 210) rgb(235, 180, 190);
}
.color9 {
    background-color: rgb(140, 140, 140); 
    border-color: rgb(90, 90, 90) rgb(110, 110, 110) rgb(150, 150, 150) rgb(130, 130, 130); 
}